*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/androidTest
testJPG.jpg
app/src/main/assets/blured.jpg
app/src/main/assets/bluredFingers.jpg
app/src/main/assets/notBlured.jpg

